<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="utf-8"><title>Login</title></head>
<body>
  <h1>Sign in to Buddy</h1>

  <form method="post" th:action="@{/login}">
    <input type="text"     name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <button type="submit">Login</button>
  </form>

  <p><a th:href="@{/signup}">Create an account</a></p>
</body>
</html>
